@import './index';

* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    min-height: 100%;
    touch-action: manipulation; // github.com/ftlabs/fastclick *//* IE11+ 禁止双击缩放，关于移动端300ms延迟：https://github.com/ftlabs/fastclick */
    -ms-touch-action: manipulation; /* IE10+ 禁止双击缩放 */
    -webkit-overflow-scrolling: touch; /* ios顺畅滑动 */
}
body {
    font-family: Roboto, Lato, sans-serif;
    color: #333;
    background: #f4f5f6;
}
/* iconfont */
[class*=' my-icon-'], [class^=my-icon-] {
    font-family: 'iconfont';
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// 重置mint-ui 样式，让minit组件根据屏幕自适应
.mint-indicator-wrapper {
    padding: toRem(15) !important;
    .mint-spinner-snake {
        width: toRem(32) !important;
        height: toRem(32) !important;
    }
}
[class^=mint-spinner-triple-bounce-] {
    width: toRem(8) !important;
    height: toRem(8) !important;
}
// 适配大于768px的屏幕，采用居中布局。
// Tip：还需要限制rem最大font-size（/public/statilc/amfe-flexible.js）
@media screen and (min-width: 768px) {
    html {
        width: 768px;
        margin: auto auto;
    }
    #musicBarContainer {
        width: 768px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
}
