*{
	box-sizing:border-box;
}
html,body{
    width: 100%;
    min-height: 100%;
    touch-action: manipulation; /* IE11+ 禁止双击缩放，关于移动端300ms延迟：https://github.com/ftlabs/fastclick */  
    -ms-touch-action: manipulation; /* IE10+ 禁止双击缩放 */
    -webkit-overflow-scrolling: touch; /* ios顺畅滑动 */
}
body{
    font-family: Roboto,Lato,sans-serif;
    color: #333;
    background: #f4f5f6;
}
/* iconfont */
[class*=" my-icon-"], [class^=my-icon-] {
    font-family:"iconfont";
    font-size: inherit;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
