// Tip: 该文件在整个项目中全局引入，.vue文件内的<style lang="stylus">可直接使用该文件定义的css变量。
// 配置目录：/vue.config.js
$appColor = #6ed56c // 主色调
$appColorRGB = 110,213,108 // 主色调rgb
$deepColor = #00ae05 // 最深色
$darkColor = #639e5e // 深色
$shallowColor = #d6ffd6 // 浅色
$linkColor = #7dd97f // 链接
$redColor = #ed3d57 // 红色
$blueColor = #3a94f7 // 蓝色
$yellowColor = #f3993e // 黄色
$mainColor = #333 // 主要
$normalColor = #555 // 次要
$lessColor = #757575 // 更次要
$infoColor = #999 // 信息
$bgColor = #e8e8e8 // 背景
$borderColor = #f4f4f4 // 边框

$musicBarHeight = toRem(48) // musicBar高度

// rem转换
toRem(val) {
	return (ceil(val / 37.5 * 100) / 100)rem
}
// 水平垂直居中
flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
// 单行溢出省略号
text-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
